<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>Document</title>
</head>
<body>
    

                <div class="banner">

                    <div class="header">

                        <div class="logo">

                        </div>

                        <div class="nav">
                            <a href="/">Student Registration</a>
                            <a href="/register">Course Registration</a>
                            <a href="">Payment</a>
                            <a href="/course_setup">Course Setup</a>
                            <a href="/reg_students">Registered Students</a>
                            <a href="/reg_courses">Registered Courses</a>
                           


                        </div>

                    </div>


                </div>

