<%- include('partials/header')%>

<div class="student-form">

    <h3>Course Setup</h3>

    <form action="/coursesetup" method="POST">
      
        <p class="label">Course Name</p>  <p><input type="text" name="course_name" id=""></p>
        <p class="label">Course Price</p> <p><input type="text" name="price" id=""></p>
        <p class="label">Duration</p> <p> <input type="text" name="duration" id=""></p>
       

        <input type="submit" name="" id="" value="Click to Register">


    </form>

</div>


<%- include('partials/footer')%>